{{!-- This footer template is shared across all the pages. --}}

<footer class="m-footer">
  <div class="m-footer-content">
    <p class="m-footer-copyright">
      <span>{{t "Diaspora"}} &copy; {{date format="YYYY"}}</span>
      <span>&nbsp; &bull; &nbsp;</span>
      <span>{{t "Diaspora theme created by"}} <a href="https://TechwithDut.com" target="_blank" rel="noopener">TechwithDut</a></span>
      <span>&nbsp; &bull; &nbsp;</span>
      <span>{{t "Published with"}} <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a></span>
    </p>
  </div>
</footer>
