<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{asset "assets/css/prism.css" }}">
<nav class="navbar">
    <nav class="wrapper">
        <span class="navbar-toggle" id="js-navbar-toggle">
        <img class="fa-bars"src="https://www.freeiconspng.com/uploads/menu-icon-15.png" width="20"/>
        </span>
        <a href="http://localhost:2368/" class="nav-links name-logo"><span class="span-text">Tech</span>with<span class="span-text">Dut</span></a>
        <span class="search-button" id="js-search-button">
        <img class="fa-search" src="https://www.freeiconspng.com/uploads/search-icon-png-29.png" width="20" height="20"/>
        </span>
    </nav>
        <nav class="desktop-menu-wrapper">
        <ul class="main-nav" id="js-menu" style="background-color: black;">
            <li>
                <a href="http://localhost:2368/tag/tech/" class="nav-links">Tech</a>
            </li>
            <li>
                <a href="http://localhost:2368/tag/reads/" class="nav-links">Reads</a>
            </li>
            <li>
                <a href="http://localhost:2368/tag/music/" class="nav-links">Music</a>
            </li>
            <li>
                <a href="http://localhost:2368/subsclub/" class="nav-links"><span class="span-text">Subs</span>Club</a>
            </li>
        </ul>
    </nav>
    </nav>
    <script src="https://use.fontawesome.com/e58bcefa56.js"></script>
    <script src="assets/js/header.js"></script>
